<div>
    <h5>Test technique web-ATRIO réalisé par {{_state.name}}  {{_state.lastName}}</h5>
    <h5>réalisé le {{_state.dateOfTest | date:'dd/MM/YYYY'}}</h5>
</div>


<div>
    <app-progress-bar-list [progressionBars]="_state.progressionBars"></app-progress-bar-list>
</div>

<div>
    <div> 
        <button (click)="reset($event)">Remettre à zero</button>
    </div>
    <div> 
        <button (click)="add5Percent($event)">Ajouter 5%</button>
    </div>
    <div> 
        <button (click)="add5Percent($event)">Ajouter 10%</button>
    </div>
</div>